{
  "singleQuote": true,
  "semi": true,
  "printWidth": 99,
  "tabWidth": 2,
  "trailingComma": "es5",
  "editorconfig": true,
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "parser": "json"
      }
    }
  ]
}
