doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title #{docTitle}
        link(rel="stylesheet" href="/css/main.css")
    body 
        header#header
            nav.container
                ul.nav.nav-menu
                    li.nav-item
                        a.nav-link(href="/", class=(path === "/" && "active")) Home
                    li.nav-item
                        a.nav-link(href="/users", class=(path === "/users" && "active")) Users
                    li.nav-item
                        a.nav-link(href="/products", class=(path === "/products" && "active")) Products
                    li.nav-item
                        a.nav-link(href="/cart", class=(path === "/cart" && "active")) Cart
                    li.nav-item
                        a.nav-link(href="/orders", class=(path === "/orders" && "active")) Orders
                    li.nav-item
                        a.nav-link(href="/users/add" class="btn") Add User
                    li.nav-item
                        a.nav-link(href="/products/add" class="btn") Add Product
        main.container
            block content
