extends layouts/main.layout.pug

block content
    div.header__home
        h1 Add a #{item}
    if errorMessage
        div.error
            p #{errorMessage}
    include includes/form.include.pug