extends layouts/main.layout.pug

block content
    div.header__home
        h1 Edit a #{item}
    include includes/form.include.pug
        input(type="hidden" name="id" aria-label="Id" placeholder=item + "ID", value=data.id)