extends layouts/main.layout.pug

block content
  include includes/product.include.pug
  if isAuthenticated
    form(action="/cart/add" method="post")
      input(type="hidden" name="_csrf" value=csrfToken)
      input(type="hidden" name="id" value=product._id)
      button(type="submit") Add to cart
    if isMine
      a(href="/products/" + product._id + "/edit") Edit