extends layouts/main.layout.pug

block content
  if products.length
    ul
      each product in products
        li
          include includes/product.include.pug
          a(href="products/" + product._id) Details
  else 
    h1 No Products found
