extends layouts/main.layout.pug

block content
  if users.length
    ul
      each user in users
        li
          include includes/user.include.pug
          a(href="users/" + user._id) Details
  else 
    h1 No Users found
